<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storemanager.dashboard.DashMapper">
	<!-- 당월 입고가 총계 -->
	<select id="nowInPrice" resultType="int">
		select
			SUM(GIH_PRICE)
		from
			GE_ITEMS_HIST
		where
			GIH_INOUT = 'IN' AND
			GIH_REGDATE <![CDATA[>=]]> STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00') AND
			GIH_REGDATE <![CDATA[<]]> STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00')
	</select>
	
	<!-- 당월 출고가 총계 -->
	<select id="nowOutPrice" resultType="int">
		select
			SUM(GIH_PRICE)
		from
			GE_ITEMS_HIST
		where
			GIH_INOUT = 'OUT' AND
			GIH_REGDATE <![CDATA[>=]]> STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00') AND
			GIH_REGDATE <![CDATA[<]]> STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00')
	</select>
	
	<!-- 당월 총 입고 TOP 5 -->
	<select id="stickTotalNowIn" resultType="com.storemanager.dashboard.DashDTO">
		select
			GI_NAME,
			SUM(GIH_QTY) as GIH_QTY,
			AVG(GIH_PRICE) as GIH_PRICE
		from
			GE_ITEMS_HIST
		WHERE
			GIH_INOUT = 'IN' AND
			GIH_REGDATE <![CDATA[>=]]> STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00') AND
			GIH_REGDATE <![CDATA[<]]> STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00')
		group by
			GI_NAME
	</select>
	
	<!-- 당월 총 출고 TOP 5 -->
	<select id="stickTotalNowOut" resultType="com.storemanager.dashboard.DashDTO">
		select
			GI_NAME,
			SUM(GIH_QTY) as GIH_QTY,
			AVG(GIH_PRICE) as GIH_PRICE
		from
			GE_ITEMS_HIST
		WHERE
			GIH_INOUT = 'OUT' AND
			GIH_REGDATE <![CDATA[>=]]> STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00') AND
			GIH_REGDATE <![CDATA[<]]> STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00')
		group by
			GI_NAME
		
	</select>
	
</mapper>