<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.storemanager.item.ItemMapper">

    <select id="findAllItems" resultType="com.storemanager.item.ItemDTO">
        SELECT
            gi.GI_CODE      AS giCode,
            gi.GI_NAME      AS giName,
            gcm.GCM_CODE    AS gcmCode,
            gcm.GCM_NAME    AS gcmName,
            gis.GIS_TOT_QTY AS gisTotQty
        FROM
            GE_ITEMS gi
        LEFT JOIN
            GE_COM_MEMBER gcm ON gi.GCM_CODE = gcm.GCM_CODE
        LEFT JOIN
            GE_ITEMS_STOCK gis ON gi.GI_CODE = gis.GI_CODE
        ORDER BY
            gi.GI_CODE DESC
    </select>
    
    <!-- 새 품목 등록 -->
    <insert id="saveNewItem" parameterType="com.storemanager.item.ItemDTO">
        INSERT INTO GE_ITEMS (
            GI_NAME, 
            GCM_CODE
        ) VALUES (
            #{giName},   -- DTO의 giName 필드 값을 여기에 넣음
            #{gcmCode}   -- DTO의 gcmCode 필드 값을 여기에 넣음
        )
    </insert>
    
</mapper>