<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.storemanager.item.ItemMapper">

    <select id="selectItemList" resultType="com.storemanager.item.ItemDTO">
        SELECT
            i.GI_CODE,
            i.GI_NAME,
            i.GCM_CODE,
            c.GCM_NAME  -- GE_COM_MEMBER 테이블에서 매입처명을 가져옵니다.
        FROM
            GE_ITEMS i
        LEFT JOIN
            GE_COM_MEMBER c ON i.GCM_CODE = c.GCM_CODE
        ORDER BY
            i.GI_CODE DESC
    </select>

    <insert id="insertItem" parameterType="com.storemanager.item.ItemDTO">
        INSERT INTO GE_ITEMS (
            GI_CODE,
            GI_NAME,
            GCM_CODE,
            GI_DEL_FLAG
        ) VALUES (
            #{giCode},
            #{giName},
            #{gcmCode},
            'N'
        )
    </insert>

</mapper>
 