<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.storemanager.item.ItemMapper">

    <select id="selectItemList" resultType="com.storemanager.item.ItemDTO">
    SELECT
        i.GI_CODE    AS giCode,
        i.GI_NAME    AS giName,
        i.GCM_CODE   AS gcmCode,
        c.GCM_NAME   AS gcmName
    FROM
        GE_ITEMS i
    LEFT JOIN
        GE_COM_MEMBER c ON i.GCM_CODE = c.GCM_CODE
    WHERE
        i.GI_DEL_FLAG = 'N'
    ORDER BY
        i.GI_CODE DESC
    </select>
    
    <select id="selectItemById" parameterType="string" resultType="com.storemanager.item.ItemDTO">
        SELECT
            i.GI_CODE    AS giCode,
            i.GI_NAME    AS giName,
            i.GCM_CODE   AS gcmCode,
            c.GCM_NAME   AS gcmName, 
            i.GI_IMG     AS giImg,
            i.GI_REMARK     AS giRemark
        FROM
            GE_ITEMS i
        LEFT JOIN
            GE_COM_MEMBER c ON i.GCM_CODE = c.GCM_CODE
        WHERE
            i.GI_CODE =  #{giCode, jdbcType=VARCHAR}
    </select>

    <insert id="insertItem" parameterType="com.storemanager.item.ItemDTO">
        INSERT INTO GE_ITEMS (
            GI_NAME, GCM_CODE, GI_IMG, GI_REMARK, GI_DEL_FLAG
        ) 
        VALUES (
            #{giName}, #{gcmCode}, #{giImg}, #{giRemark}, 'N'
        )
    </insert>

    <update id="updateItem" parameterType="com.storemanager.item.ItemDTO">
        UPDATE 
            GE_ITEMS 
        SET 
            GI_NAME = #{giName}, 
            GCM_CODE = #{gcmCode},
            GI_IMG = #{giImg},
            GI_REMARK = #{giRemark}
        WHERE 
            GI_CODE = #{giCode}
    </update>

    <update id="deleteItem" parameterType="string">
        UPDATE GE_ITEMS
        SET GI_DEL_FLAG = 'Y'
        WHERE GI_CODE =  #{giCode}
    </update>
    
	<select id="findItems" parameterType="map" resultType="com.storemanager.item.ItemDTO">
	    SELECT
	        i.GI_CODE     AS giCode,
	        i.GI_NAME     AS giName,
	        i.GCM_CODE    AS gcmCode,
	        c.GCM_NAME    AS gcmName,
	        i.GI_DEL_FLAG AS giDelFlag
	    FROM
	        GE_ITEMS i
	    LEFT JOIN
	        GE_COM_MEMBER c ON i.GCM_CODE = c.GCM_CODE
	    <where>
	        <if test="includeDeleted == false">
	            AND i.GI_DEL_FLAG = 'N'
	        </if>
	        
	        <if test="search != null and search != ''">
	            <choose>
	                <when test="searchOption == 'item_name'">
	                    AND i.GI_NAME LIKE CONCAT('%', #{search}, '%')
	                </when>
	                <when test="searchOption == 'supplier_name'">
	                    AND c.GCM_NAME LIKE CONCAT('%', #{search}, '%')
	                </when>
	                <otherwise>
	                    AND i.GI_CODE LIKE CONCAT('%', #{search}, '%')
	                </otherwise>
	            </choose>
	        </if>
	    </where>
	    ORDER BY
	        i.GI_CODE DESC
	</select>
	
	<update id="restoreItem" parameterType="string">
		UPDATE GE_ITEMS 
		SET GI_DEL_FLAG = 'N'
		WHERE GI_CODE = #{giCode}
	</update>

</mapper>