<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.storemanager.item.SupplierMapper">

    <select id="findAll" resultType="com.storemanager.item.SupplierDTO">
        SELECT
            GCM_CODE AS gcmCode,
            GCM_NAME AS gcmName
        FROM
            GE_COM_MEMBER 
        ORDER BY
            GCM_NAME ASC
    </select>

</mapper>